[".config/oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripcomponents = 1
  refreshperiod = "168h"
[".config/zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".config/zsh/custom/plugins/zsh-vi-mode"]
  type = "archive"
  url = "https://github.com/jeffreytse/zsh-vi-mode/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".config/zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".config/vim"]
  type = "git-repo"
  url = "https://github.com/mingyc/vimrc.git"
  refreshPeriod = "168h"
[".config/gdb/gdbinit"]
  type = "git-repo"
  url = "https://github.com/gdbinit/Gdbinit.git"
[".config/kitty/kitty-themes/themes/Solarized_Dark_Higher_Contrast.conf"]
  type = "file"
  url = "https://raw.githubusercontent.com/dexpota/kitty-themes/master/themes/Solarized_Dark_Higher_Contrast.conf"
[".config/tmux"]
  type = "archive"
  url = "https://github.com/gpakosz/.tmux/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".config/fzf"]
  type = "archive"
  url = "https://github.com/junegunn/fzf/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
{{- if and (eq .profile "work") (ne .work_repo "") }}
[".config/dotfiles-work"]
  type = "git-repo"
  url = "{{- .work_repo }}"
  refreshPeriod = "168h"
{{- end }}
