{{- $name := "Ming-Ying Chung" -}}
{{- $email := promptString "Email" -}}
{{- $profile := default "personal" (promptString "Dotfiles Profile (persona/work)") -}}
{{- $github_user := "mingyc" -}}


[data]
    name = {{ $name | quote  }}
    email = {{ $email | quote }}  
    profile = {{ $profile | quote }}
    github_user = {{ $github_user | quote  }}
