{{- $name := "Ming-Ying Chung" -}}
{{- $email := promptString "Email" -}}
{{- $profile := default "personal" (promptString "Dotfiles Profile (personal/work)") -}}
{{- $github_user := "mingyc" -}}
{{- $editor := "vim" }}


[data]
    name = {{ $name | quote  }}
    email = {{ $email | quote }}  
    profile = {{ $profile | quote }}
    github_user = {{ $github_user | quote  }}
    editor = {{ $editor | quote  }}
