# Generated data stored in `~/.config/chezmoi/chezmoi.toml`

{{- $name := "Ming-Ying Chung" -}}
{{- $email := "itsmings@gmail.com" -}}
{{- $profile := "personal" -}}
{{- $github_user := "mingyc" -}}
{{- $editor := "vim" }}
{{- $new_screen_dir := .chezmoi.homeDir }}

{{- $chezmoiInteractive := and stdinIsATTY (has "--interactive" .chezmoi.args) -}}

{{- if $chezmoiInteractive }}
{{- $name = promptString "Full Name" $name -}}
{{- $email = promptString "Email" $email -}}
{{- $profile = promptString "Dotfiles Profile Name [personal/work]" $profile -}}
{{- $github_user = promptString "GitHub Username" $github_user -}}
{{- $new_screen_dir := promptString "GNU Screen's New Screen Directory" $new_screen_dir -}}
{{- end }}


[data]
    name = {{ $name | quote  }}
    email = {{ $email | quote }}  
    profile = {{ $profile | quote }}
    github_user = {{ $github_user | quote  }}
    editor = {{ $editor | quote  }}
    new_screen_dir = {{ $new_screen_dir | quote }}
