[user]
        name = {{ .name }}
        email = {{ .email }}
[alias]
        co = checkout
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = {{ .editor  }}
[apply]
        whitespace = nowarn
[diff]
    	tool = vimdiff
[difftool]
        prompt = false
[merge]
        conflictstyle = diff3
[help]
        autocorrect = 1
[hub]
        protocol = https
[push]
        default = simple
